<!DOCTYPE html>
<html lang="ru" ng-app="phonecatApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Мир турабз - главная страница</title>

    <!-- Bootstrap core CSS -->
    <link href="./css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./css/non-responsive.css" rel="stylesheet">

</head>

<body>

<div id="top"></div>

<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Мир турбаз</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Главная</a></li>
                <li><a href="#about">Страны</a></li>
                <li><a href="#contact">Регионы</a></li>
                <li><a href="#">Города</a> </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>

<div class="container">
    <div class="page-header">
        <h1>Мир турбаз</h1>
    </div>

    <!-- filter -->
    <p><h4>Фильтр</h4>
        <button type="button" class="btn btn-default btn-xs" id="filter_hide">Свернуть</button>
    <button type="button" class="btn btn-default btn-xs" id="filter_show">Развернуть</button></p>
    <div class="ts-list" id="filter">
        <form name="ff" id="ff" method="post" action="/search/">
            <div class="form-group" ng-controller="CountrySelectCtrl">
                <label for="country[0]">Страна:</label>
                <select ng-repeat="item in country_combobox" id="country[{{item.id}}]"
                        name="country_{{item.id}}" class="form-control">
                    <option ng-repeat="op in item.options" value="{{op}}">{{op}}</option>
                </select>
                <a href="#" id="add_country" ng-click="add_country()"><span class="glyphicon glyphicon-plus"></span></a>
            </div>
            <div class="form-group" ng-controller="RegionSelectCtrl">
                <label for="region[0]">Регион:</label>
                <select ng-repeat="item in region_combobox" id="region[{{item.id}}]"
                        name="region_{{item.id}}" class="form-control">
                    <option ng-repeat="op in item.options" value="{{op}}">{{op}}</option>
                </select>
                <a href="#" id="add_region" ng-click="add_region()"><span class="glyphicon glyphicon-plus"></span></a>
            </div>
            <div class="form-group" ng-controller="CitySelectCtrl">
                <label for="city[0]">Город:</label>
                <select ng-repeat="item in city_combobox" id="city[{{item.id}}]"
                        name="city_{{item.id}}" class="form-control">
                    <option ng-repeat="op in item.options" value="{{op}}">{{op}}</option>
                </select>
                <a href="#" id="add_city" ng-click="add_city()"><span class="glyphicon glyphicon-plus"></span></a>
            </div>
            <div class="form-actions">
                <button class="btn btn-success">Найти</button>
                <button type="reset" class="btn btn-default">Сброс</button>
            </div>
        </form>
    </div>

    <div class="col-md-12">
    <!-- Список турбаз -->
    <button type="button" class="btn btn-default btn-xs">
        <span class="glyphicon glyphicon-plus"></span> Добавить
    </button>
    <div ng-controller="TurbazaListCtrl">
        <div class="ts-list">
            <div class="media ts-list-item" ng-repeat="item in turbaza_list">
                <a class="pull-left" href="#">
                    <img src="{{item.image}}" alt="{{item.image_title}}" class="img-thumbnail" width="157" height="144">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">{{item.name}}</h4>
                    <button type="button" class="btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-pencil"></span> Изменить
                    </button>
                    <button type="button" class="btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-remove"></span> Удалить
                    </button>
                    <p style="text-align: justify">{{item.description}}</p>
                    <p><label for="email[{{item.id}}]">e-mail:</label><a href="mailto:{{item.email}}" id="email[{{item.id}}]">{{item.email}}</a></p>
                    <p><label for="tel[{{item.id}}]">телефон:</label><span id="tel[{{item.id}}]">{{item.phone}}</span></p>
                    <ol class="breadcrumb">
                        <li><a href="#">{{item.country}}</a></li>
                        <li><a href="#">{{item.region}}</a></li>
                        <li><a href="#">{{item.city}}</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

</div>

    <div class="footer">
        <p>© Company 2013</p>
    </div>

</div> <!-- /container -->

<!-- go to top -->
<a href="#" class="go-top"><span class="glyphicon glyphicon-chevron-up"></span></a>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="./js/jquery.js"></script>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/angular.min.js"></script>
<script src="./js/scroll.js"></script>
<script src="./js/filter.js"></script>
</body>
</html>